{% extends "blog/base.html" %} {% load poll_extras %} {% block content %}
<div class="md-form mt-0">
    <input class="form-control" id="search" type="text" placeholder="Search Users" aria-label="Search">
    <div id="search_results" class="list-group">

    </div>
</div>
<br> {% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        {% if post.image %}<br>
        <img src="{{post.image.url}}" width="90%" height="300px"> <br><br>{% endif %}
        <p class="article-content">{{ post.content }}</p>
        {% if liked|hash:post.id %}
        <i class='icons fas fa-thumbs-up' id="like_{{post.id}}" onclick="handle_like('{{post.id}}','{{request.user.id}}')" style='font-size:23px;color:blue;'></i> {% else %}
        <i class='icons far fa-thumbs-up' id="like_{{post.id}}" onclick="handle_like('{{post.id}}','{{request.user.id}}')" style='font-size:23px'></i> {% endif %}


        <p class="article-content" id="likeCount_{{post.id}}">Likes : {{post.likes.count}}</p>
    </div>
</article>
{% endfor %}
{% if is_paginated %}
{% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num  %}
        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>

{% endif %}

{% endif %}
    <script>
        function handle_like(post_id, user_id) {
            $.ajax({
                url: '/ajax/handle-like/',
                type: "GET",
                data: {
                    'post_id': post_id,
                    'user_id': user_id
                },
                dataType: 'json',
                success: function(data) {
                    if (data.like) {
                        $("#like_" + post_id).removeClass("far");
                        $("#like_" + post_id).addClass("fas");
                        $("#like_" + post_id).css("color", "blue");
                        likes = $("#likeCount_" + post_id).text();
                        likes = likes.slice(7);
                        likes = parseInt(likes) + 1;
                        $("#likeCount_" + post_id).text("Likes : " + likes);
                    } else {
                        $("#like_" + post_id).removeClass("fas");
                        $("#like_" + post_id).addClass("far");
                        $("#like_" + post_id).css("color", "black");
                        likes = $("#likeCount_" + post_id).text();
                        likes = likes.slice(7);
                        likes = parseInt(likes) - 1;
                        $("#likeCount_" + post_id).text("Likes : " + likes);
                    }
                }
            });
        }

        $("#search").on("keyup", function() {
            var user = $(this).val();
            if (user.length == 0) {
                $("#search_results").empty();
            } else {
                $.ajax({
                    url: '/ajax/get-users/',
                    type: "GET",
                    data: {
                        'user': user,
                    },
                    dataType: 'json',
                    success: function(data) {
                        $("#search_results").empty();
                        data.users.forEach(function(item, index) {
                            var s = "<a href=\"" + "/user/" + item + "\" class='list-group-item list-group-item-action'>" + item + "</a>";
                            $("#search_results").append(s);
                        });
                    }
                });
            }
        });
    </script>
    {% endblock content %}