{% extends "blog/base.html" %} {% load crispy_forms_tags %} {% load poll_extras %} {% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user_data.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user_data.username }}</h2>
            <p class="text-secondary">{{ user_data.email }}</p>
            {% if following == 1 %}
                <button class="btn btn-sm btn-outline-danger" id="follow_btn" onclick="follow('{{user_data.id}}','{{request.user.id}}')">Unfollow</button>
            {% elif following == 0 %}
                <button class="btn btn-sm btn-primary" id="follow_btn" onclick="follow('{{user_data.id}}','{{request.user.id}}')">Follow</button>
            {% endif %}
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#posts">Posts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
    </li>
</ul>
<div class="tab-content">
    <div class="tab-pane container active" id="posts">
            {% for post in posts %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    {% if post.image %}<br>
                    <img src="{{post.image.url}}" width="90%" height="300px"> <br><br>{% endif %}
                    <p class="article-content">{{ post.content }}</p>
                    {% if liked|hash:post.id %}
                        <i class='icons fas fa-thumbs-up' id="like_{{post.id}}" onclick="handle_like('{{post.id}}','{{request.user.id}}')" style='font-size:23px;color:blue;'></i>
                    {% else %}
                        <i class='icons far fa-thumbs-up' id="like_{{post.id}}" onclick="handle_like('{{post.id}}','{{request.user.id}}')" style='font-size:23px'></i>
                    {% endif %}
                    <p class="article-content" id="likeCount_{{post.id}}">Likes : {{post.likes.count}}</p>
                </div>
            </article>
            {% endfor %}

            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num  %}
                        <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
                    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>

                {% endif %}

            {% endif %}
    </div>
    <div class="tab-pane container fade" id="profile">
        <div class="content-section">
            <form>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ profile_form|crispy }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
    <script>
        function handle_like(post_id,user_id){
            $.ajax({
                url: '/ajax/handle-like/',
                type: "GET",
                data: {
                    'post_id' : post_id,
                    'user_id' : user_id
                },
                dataType: 'json',
                success: function (data) {
                if (data.like) {
                    $("#like_"+post_id).removeClass("far");
                    $("#like_"+post_id).addClass("fas");
                    $("#like_"+post_id).css("color","blue");
                    likes = $("#likeCount_"+post_id).text();
                    likes = likes.slice(7);
                    likes = parseInt(likes)+1;
                    $("#likeCount_"+post_id).text("Likes : "+ likes);
                }
                else{
                    $("#like_"+post_id).removeClass("fas");
                    $("#like_"+post_id).addClass("far");
                    $("#like_"+post_id).css("color","black");
                    likes = $("#likeCount_"+post_id).text();
                    likes = likes.slice(7);
                    likes = parseInt(likes)-1;
                    $("#likeCount_"+post_id).text("Likes : "+ likes);
                }
            }
            });
        }

        function follow(user_id,host_id)
        {
            $.ajax({
                url: '/ajax/follow/',
                type: "GET",
                data: {
                    'user_id' : user_id,
                    'host_id' : host_id
                },
                dataType: 'json',
                success: function (data) {
                if (data.follow) {
                    $("#follow_btn").removeClass("btn-primary");
                    $("#follow_btn").addClass("btn-outline-danger");
                    $("#follow_btn").text("Unfollow");
                }
                else{
                    $("#follow_btn").removeClass("btn-outline-danger");
                    $("#follow_btn").addClass("btn-primary");
                    $("#follow_btn").text("Follow");
                }
            }
            });
        }

        $(function() {
            for(var i=1;i<=6;i++)
            {
                if($("#"+i).val() != '')
                {
                    var lines = $("#"+i).val().split("\n");
                    $("#"+i).attr('rows',lines.length);
                    $("#"+i).attr('readonly','True');
                }
                else
                {
                    $("#"+i).attr('rows','1');
                    $("#"+i).attr('readonly','True');
                }
                $("#"+i).css("background-color","#fff399");
            }
            $('textarea').autoResize();
        });
    </script>
{% endblock content %}